<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('partials/head.html'); %>
</head>

<body>
    <%- include('partials/barraNavegacion.html'); %>
    <div class="w-100 mt-5 p-4 seccionPrincipal">
        <div class="container p-3">
            <div class="row justify-content-center">
                <div class="col-sm">
                    <div class="card animate__animated animate__flipInY">
                        <div class="card-header bg-info text-white text-center">
                            <h4>Lista de Presupuestos</h4>
                        </div>
                        <div class="card-body">
                            <div class="row text-center font-weight-bold">
                                <div class="col-sm">
                                    Código
                                </div>
                                <div class="col-sm">
                                    Fecha
                                </div>
                                <div class="col-sm">
                                    Monto Total
                                </div>
                            </div>
                            <% if(presup != null){ %>
                            <% for(var i=0; i < presup.length; i++){ %>
                            <div class="row text-center border-top border-info">
                                <div class="col-sm ">
                                    <%= presup[i].codigoTransaccion %>
                                </div>
                                <div class="col-sm">
                                    <%= presup[i].fechaTransaccion %>
                                </div>
                                <div class="col-sm">
                                    <%= presup[i].montoTotal %>
                                </div>
                            </div>
                            <% } %>
                            <% } %>
                        </div>
                    </div>
                </div>
                <div class="col-sm">
                    <div class="card animate__animated animate__flipInY">
                        <div class="card-header bg-info text-white text-center">
                            <h4>Presupuesto nuevo</h4>
                        </div>
                        <div class="card-body">
                            <form>
                                
                                <div class="form-group">
                                    <label for="lsitaproductos">Seleccione el producto a agregar</label>
                                    <select class="form-control" id="productoseleccionado">
                                        <% if(cat != null){ %>
                                            <% for(var i=0; i < cat.length; i++){ %>
                                            <option>
                                                <div class="col-sm ">
                                                    <p><%= cat[i].codigoCatalogo %> </p>
                                                </div>
                                                <div class="col-sm">
                                                    <p> <%= cat[i].nombreProducto %> </p>
                                                </div>
                                                <div class="col-sm">
                                                    <p> $<%= cat[i].precioProductoVenta %>.00</p>
                                                </div>
                                            </option>
                                            <% } %>
                                            <% } %>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label for="cantiodadproductos">Cantidad del producto</label>
                                    <input type="number" class="form-control" id="exampleFormControlInput1">
                                </div>
                                <div class="form-group">
                                    <a href="/ventas/presup" class="btn btn-primary">agregar</a>
                                </div>
                                <div class="form-group">
                                    <ul class="list-group">
                                        <li class="list-group-item font-weight-bold">Elementos agregados</li>
                                        <li class="list-group-item">router x1 2000</li>
                                        <li class="list-group-item">tv led 32" x2 40000</li>
                                        <li class="list-group-item font-weight-bold">Total: $42000.00</li>
                                      </ul>
                                </div>
                            </form>
                            <a href="/ventas/presup" class="btn btn-primary btn-block">Registrar</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <%- include('partials/piePagina.html'); %>
    <%- include('partials/scriptsFondo.html'); %>
</body>

</html>