<!DOCTYPE html>
<html lang="es">

<head>
    <%- include('partials/head.html'); %>
</head>

<body>
    <%- include('partials/barraNavegacion.html'); %>
    <div class="vh-100 w-100 mt-5 p-4 seccionPrincipal">
        <div class="container p-3">
            <div class="row justify-content-center">
                <div class="col-lg mb-2">
                    <div class="card animate__animated animate__flipInY">
                        <div class="card-header bg-info text-white text-center">
                            <h4>Presupuestos</h4>
                        </div>
                        <div class="card-body">
                            <p class="card-text">Aquí se registran los presupuesto nuevos en el sistema, estos tienen una vigencia de 3 (tres) días. Ademas se visualiza un listado de los mismos</p>
                            <a href="/vyp/presupuestos" class="btn btn-primary btn-block">Ingresar</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg">
                    <div class="card animate__animated animate__flipInY">
                        <div class="card-header bg-info text-white text-center">
                            <h4>Ventas</h4>
                        </div>
                        <div class="card-body">
                            <p class="card-text">Aquí se registran las ventas nuevas en el sistema, con y sin presupuesto generando una factura. Ademas se visualiza un listado de las mismas</p>
                            <a href="/vyp/ventas" class="btn btn-primary btn-block">Ingresar</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    </div>
    <%- include('partials/piePagina.html'); %>
    <%- include('partials/scriptsFondo.html'); %>
</body>

</html>